/* Title*/

body {
    background-color: #f3deb6;
}

.vertical-menu{
    width: 10%;
}
.vertical-menu a{
    color: rgb(0, 0, 0);
    display: block;
    padding: 12px;
    text-decoration: none;
    background-color: grey;
}
.vertical-menu a:hover{
    background-color: #eee;
}
.vertical-menu a.active{
    background-color: #d4b010bd;
    color: white;
}

h1, address{
    text-align: center;}

img{
    display: block;
    margin-left: auto;
    margin-right: auto;
    width: 20%;
}

/* Headings */
h2{
    text-align: center;
    font-size: 150%;
}

/* Text Body */
p{
    text-indent: 40px;
    text-align: center;
    margin: auto;
    width: 50%;
    font-size: 100%;
}

/* Lists */
ul{
    display: block;
    margin: auto;
    list-style-type: square;
    width: 40%;
} 


